<h1>{{{question}}}</h1>

<form class="" action="/" method="post">
  <button type="submit" name="yes" value="1">Yes</button>
  <button type="submit" name="no" value="0">No</button>
  <input type="hidden" name="id" value={{id}}>
</form>
