.header {
    background-color: #0000ff;
    text-align: center;
    font-weight: bold;
}

.nav {
    background-color: #800080;
    text-align: center;
    font-weight: bold;
}

.main {
    background-color: #ffd700;
    width: 70%;
    height: 300px;
    text-align: center;
    font-weight: bold;
    margin: 0px;
    float: left;
}

.aside {
    background-color: #808080;
    float: left;
    width: 30%;
    height: 300px;
    font-weight: bold;
    text-align: center;
}

.footer {
    background-color: #00ffff;
    font-weight: bold;
    text-align: center;
}

.nav-main {
  border: 1px solid red;
  border-width: 1px 0;
  width: 100%;
  background-color:#2f2e2a;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.nav-main li {
  display: inline;

}

.nav-main a {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  color: white;
  font-size: 30px;
  transition: 0.5s;
}

.p-20 {
  padding: 0px 40px;
}

.nav-main a:hover {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid red;
  padding: 0 5px;
}
